[package]
name = "better_questing_tools"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"

[dev-dependencies]
glob = "0.3"
anyhow = "1.0"
insta = "1.46"
